* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space, 1.5rem);
}

:root {
    --header-height: 60px;
    --ghost-white: #F8f8ff;
    --starlight: #fff3bf;
    --dark-blue: #032a4d;
}

html, body {
    margin: 0;
    min-height: 100vh;
    /* background: url("milkyway.jpg") no-repeat center center fixed; */
    background-size: cover;
    background-color: #fcfcff
}

.body {
    backdrop-filter: blur(8px);

    margin: 0;
    height: 100vh;
}

.text-style {
    font-family: roboto, sans;
    color: #f8f8ff
}

.container {

    /* display: flex; */
    /* flex-direction: column; */
}

.header {
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px;
    height: var(--header-height);
    background: linear-gradient(0deg, black, #032a4d);
    backdrop-filter: opacity(20%);
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.svg-white {
    filter: invert(98%) sepia(23) saturate(6186) hue-rotate(310deg) brightness(120%) contrast(101%);
}

#header-img {
    width: 50px;
    color: white;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--header-height) auto 0 auto;
    width: = 100%;
    max-width: 400px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-it: center;
}

.form-label {
    margin: 15px;
    color: #022443;
}

#email {
    padding: 5px;
    border-radius: 6px;
}

#submit {
    padding: 5px;
    margin: 15px;
    border-radius: 6px;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
        margin: 5px;
        color: var(--starlight);
        text-decoration: none;
}

#products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#showcase {
    display: flex;
    /* justify-content: center; */
    margin: auto;
}

.product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 325px;
    margin: 20px;
    border: 4px solid var(--starlight);
    background-color: var(--dark-blue);
    color: var(--starlight);
}

@media screen and (max-width: 850px) {
	#products {
        flex-flow: column;
        align-items: center;
    }

    body {
        background-position: center;
    }
}
